<div class="show">
  <h2><%= @clip.title %></h2>
  <h4>Original clip: <a href="<%=clip_path(@clip.snippable_id)%>"><%=Clip.find(@clip.snippable_id).title%></a></h4>
  By: <%= @clip.performer %><br>
  Tags: <%= @tags %> <br>
  <div class="btn-group">
    <% unless current_user == nil %>
      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
        + <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu">

        <% unless @clip.user == nil || @clip.user.playlists == [] %>

          <% @clip.user.playlists.each do |p| %>

            <li>
                <%= link_to p.title, playlist_path(p), method: :patch, playlist: p.id %>
            <li>
          <% end %>
        <% end %>
          <li> new playlist </li>
      </ul>
    <% end %>
  </div>

    <div>
      <audio id="snippet" controls src="<%=@clip.mp3.url%>" style="background-color: red; width: 60%">
        <p>Your browser does not support the audio element.</p>
      </audio>
    </br><%= @clip.description%>
      <input type="hidden" id="startTime" value="<%=@clip.startTime%>"></input>
      <input type="hidden" id="duration" value="<%=@clip.duration%>"></input>
    </div>
    </br>
    </br></br>

  <%if @clip_comments %>
    <h4>Comments: </h4>

    <% @clip_comments.each do |comment| %>

      <li><%= comment.body %></li>

    <% end %>
  <% end %>

    <br><a href="/clips/<%= @clip.id %>/comments/new">Leave your comment</a>
</div>
<script>
  $(window).load(function(){
    document.getElementById("snippet").currentTime = parseInt($("#startTime").val());


  })
</script>