<% @clips.each do |clip| %> 
  <div id="clip<%= clip.id %>" >
  <li><a href="/clips/<%= clip[:id] %>"><%= clip[:title] %>:</a> <%= clip[:description] %> by: <%= clip[:performer] %>
  </li>

  	<button class="like">Like</button>Likes: <%= clip.likes.count %>
	<p></p>
</div>
<% end %>