

<div class="home_page">
  <button class="add_button"><a href="/clips/new">Add a new clip</a></button>
  <% @clip_display.each do |clip| %>
    <div id="clip<%= clip.id %>" >
      <ul>
        <div class="index"><%= link_to clip.title, clip_path(clip.id) %>: <%= clip.description %> by: <%= clip.performer %><br><audio id="ott" controls src="<%=clip.mp3.url%>"></audio><br>
        <button class="like">Like</button><p>Likes: <%=clip.likes.count%></p>
      </ul>
    </div>
  <% end %>
  </div>
</div>