
<div class="home_page">
  <button class="add_button"><a href="/clips/new">Add a new clip</a></button>
  <% @clip_display.each do |clip| %>
      <ul>
        <div class="index" ><%= link_to clip.title, clip_path(clip.id) %>: <%= clip.description %> by: <%= clip.performer %><br><audio id="ott" controls src="<%=clip.mp3.url%>"></audio><br>
        <div id="clip<%= clip.id %>" >
            <button class="like">Like</button><br>Likes: <p><%=clip.likes.count%></p>
      </div>
      </ul>
    </div>
  <% end %>
</div>

