
<center><h3 class="index">Trending Clips</h3></center>
<div class="home_page">
<% @clip_display.each do |clip| %>

        <div class="index hoverable" ><h4><%= link_to clip.title, clip_path(clip) %></h4>
        <%= clip.performer %><br><audio id="ott" controls src="<%=clip.mp3.url%>"></audio><br>

        <div id="clip<%= clip.id %>" >

            <span class="like glyphicon glyphicon-thumbs-up"></span>  <span class="count"><%=clip.likes.count %></span>
            <button class="playlist">Add To Playlist</button> Playlists: <p id="play"><%=clip.display_playlists%></p>

      </div>

    </div>
  <% end %>
</div>

<%= javascript_include_tag "likes" %>
