<div class="new">
<h2>Upload your clip here!</h2>

<%= form_for @clip do |f| %>

  <div class="mp3">
    <%= f.label "mp3" %>
    <%= f.file_field :mp3 %><br>
  </div>
    <%= f.label "Title" %>
    <%= f.text_field :title %><br>

    <%= f.label "Performer" %>
    <%= f.text_field :performer %><br>

    <%= f.label "Description" %>
    <%= f.text_field :description %>

    <%= f.submit %>
<% end %>
</div>