<div class="index new">
<h2 id="upload_title">Upload your clip here!</h2></br>
<div id="record_partial">
<%= render partial: 'record' %>
</div></br>
<%= form_for @clip do |f| %>


   <!--  <%= f.label "mp3" %> -->
    <%= f.file_field :mp3 %><br>

    <%= f.text_field :title %>
    <%= f.label "Title" %><br>

    <%= f.text_field :performer %>
    <%= f.label "Performer" %><br>

    <%= f.text_field :description %>
    <%= f.label "Description" %><br>

    <%= fields_for :tags do |tagform| %>
        <%= tagform.text_field :text %>
        <%= tagform.label "Tags (comma separated)" %><br>
    <% end %>
    <%= f.submit %>
<% end %>
</div>

<%= javascript_include_tag "audiodisplay" %>
<%= javascript_include_tag "main" %>
<%= javascript_include_tag "recorder" %>
<%= javascript_include_tag "recorderWorker" %>
