<div class="search_block show">
<h2><%= @clip.title %></h2>
<h4>By: <%= @clip.performer %></h4>
Tags: <%= @tags %> <br>
<% if @clip.snippable_id %>
  <p>Original clip: <%=link_to @parent.title, clip_path(@parent)%></p>
<% end %>
<p> <%=@clip.description%></p>
</div>
</div>

<div class="search_block show">
  <% if @clip.snippable_id %>
    <%= render "snippet" %>
  <% else %>
    <%= render "clip" %>
  <% end %>

  <!-- playlist dropdown -->
  <div class="clip">
    <% unless current_user == nil %>
      <div class="btn-group" id="clip<%=params[:id]%>">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
         add to playlist <span class="caret"></span>
       </button>
       <ul class="dropdown-menu" role="menu">
         <% unless current_user.playlists == nil %>
           <% current_user.playlists.each do |p| %>
             <li id="playlist<%=p.id %>" class="playlist" >
               <%=p.title%>
                <% if @clip.playlists.exists?(id: p.id)%>
                  <span class="glyphicon glyphicon-ok"></span>
                <% else %>
                  <span></span>
                <% end %>
              <li>
            <% end %>
          <% end %>
          <%= form_for @playlist do |f| %>
            <%= f.text_field :title, placeholder: :title %>
            <%= f.submit %>
          <% end %>
        </ul>
      </div>
    <% end %>
  </div>
  <!-- /playlist dropdown -->

  <!-- like button -->
  <div id="clip<%= @clip.id %>" >
    <span class="like glyphicon glyphicon-thumbs-up"></span>  <span class="count"><%=@clip.likes.count %></span>
  </div>
  <!-- /like button -->
</div>

<% unless @clip.snippable_id || current_user.nil?%>
  <div class="search_block show">
    <%= render "create_snippet" %>
  </div>
<% end %>

<div class="search_block">
<% unless @clip_comments == [] %>
  <h4>Comments: </h4>
  <% @clip_comments.each do |comment| %>
    <ul class="comments">
      <li>
        <%= link_to comment.user.email, user_path(comment.user) %> says:
        <ul><li><%= comment.body %></li></ul>
      </li>
    </ul>
  <% end %>
  </ul>
<% end %>

  <%= render "/comments/new_comment" %>
  <%= link_to "See all this user's clips", user_path(@clip.user) %><br>
  <%= link_to "See all clips", root_path %>
</div>

<%#= javascript_include_tag "playlists" %>
<%= javascript_include_tag "likes" %>
<%= javascript_include_tag "snippets" %>