<div class="index">
  <%= image_tag @user.avatar.url(:medium) %><br>   
  <%= form_for @user do |u| %>
    <div class="avatar">
      <%= u.file_field :avatar %>
    </div>
    <div class="submit">
      <%= u.submit %>
    </div>
      Email: <%= u.text_field :email, placeholder: "enter email" %> <br>
      Password: <%= u.text_field :password, placeholder: "enter password" %> <br>
      <% u.submit %>
  <% end %>
</div>



 

