<ul><div class="index">
  <div class="avatar">
  <h2>Welcome!</h2>
  <%= image_tag @user.avatar.url(:medium) %><br>
  <%= @user.email %>
  </div>
</div></ul>
<br>


<% @user.clips.each do |clip| %>

  <ol>
    <!-- |clip| media and information -->
    <div class="index" >
      <%= link_to clip.title, clip_path(clip.id) %> 
      by: <%= clip.performer %>
      <audio id="track" controls src="<%=clip.mp3.url%>"></audio></br>
      <%= clip.description %> </br>
      <div id="clip<%= clip.id %>" >
        <button class="like">Like</button><br>
        Likes: <p><%=clip.likes.count%></p>
      </div>
    </div>

    <!-- Snippet loop within |clip| -->
    <% clip.clips.each do |snippet| %>
      <div class="index"><%= link_to snippet.title, clip_path(snippet.id) %></br>
        by: <%= clip.performer %>
        <audio id="track" controls src="<%=snippet.mp3.url%>"></audio></br>
        <%= snippet.description %></br>
        <div id="clip<%= snippet.id %>" >
          <button class="Like">Like</button></br>
          Likes: <p><%=snippet.likes.count%></p>
        </div>
      </div>
    <% end %>
  </ol>

<% end %>
