<div class="clip">
  <% unless current_user == nil %>
    <div class="btn-group" id="clip<%=params[:id]%>">
      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
       add to playlist <span class="caret"></span>
     </button>
     <ul class="dropdown-menu" role="menu">
       <% unless current_user.playlists == nil %>
         <% current_user.playlists.each do |p| %>
           <li id="playlist<%=p.id %>" class="playlist" >
             <%=p.title%>
              <% if @clip.playlists.exists?(id: p.id)%>
                <span class="glyphicon glyphicon-ok"></span>
              <% else %>
                <span></span>
              <% end %>
            <li>
          <% end %>
        <% end %>
        <%= form_tag '/playlists', method: 'post' do %>
            <%= text_field_tag :playlist[:title], :placeholder => 'new playlist' %>
            <%= submit_tag %>
        <% end %>
      </ul>
    </div>
  <% end %>
</div>